@font-face{
    font-family: "Open-Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face{
    font-family: "Lato-LightItalic";
    src: url(../fonts/Lato-LightItalic.ttf);
}

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*{
    color: rgb(80, 80, 80);
}

body{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    font-size: 0;
    margin-bottom: 220px; /* footer area + a bit of space*/
}

header{
    position: relative;
    width: 100%;
    height: 350px;
    box-shadow:0 0 10px 5px rgb(80, 80, 80);
}

#header-image{
    position: absolute;
    /*background-image: url(../images/background/blackHeader.jpg);*/
    width: 100%;
    height: 350px;
    background-color: #0b0b0b;
    /*background-size: cover;
    background-size: 150%;
    background-position: 0% 0%;*/
}

#sections{
}

footer{
    position: absolute;
    bottom: -220px;
    height: 200px;
    background-color: #0b0b0b;
    width: 100%;
}

#main-title{
    font-family: "Lato-LightItalic", Times;
    color: #d8a31c;
    position: fixed;
}


nav>ul>li{
    display: block;
    color: #d8a31c;
    text-align: center;

}

nav>ul>li>a{
    text-decoration: none;
    display: block;
    font-family: "Lato-LightItalic";
    color: #d8a31c;
}

a{
    color:#670404;
    font-size: inherit;
    font-family: inherit;
}

#subnav>ul>li>a{
    display: block;
    text-decoration: none;
    font-family: "Lato-LightItalic";
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1{
    margin: 0;
    font-weight: normal;
    font-family: "Lato-LightItalic", Times;
    color: #d8a31c;
    text-align: center;
}

h2{
    font-size: 28px;
    font-family: "Lato-LightItalic";
    font-weight: lighter;
    text-align: center;
    margin: 10px auto 10px auto;
    color: #d8a31c;
}

p{
    font-family: "Open-Sans";
    font-size: 18px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}

.picture-format{
    margin: 0 auto 0 auto;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 0 10px 0px rgb(80, 80, 80);
}

.section{
    position: relative;
    margin: 40px 0 0 0;
    padding: 20px 30px 10px 30px;
}

#my-picture{
    background-image: url(../images/ProfilePicture.jpg);
}