@font-face{
    font-family: "Open-Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face{
    font-family: "Lato-LightItalic";
    src: url(../fonts/Lato-LightItalic.ttf);
}

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
*{
    color: rgb(80, 80, 80);
}
body{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    font-size: 0;
}

a{
    color:#670404;
    font-size: 18px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1{
    margin: 0;
    font-weight: normal;
    font-family: "Lato-LightItalic", Times;
    color: #dba622;
}

h2{
    font-size: 28px;
    font-family: "Lato-LightItalic";
    font-weight: lighter;
    text-align: center;
    margin: 10px auto 10px auto;
    color: #d8a31c;
    /* color: rgb(153, 138, 1); */
}

p{
    font-family: "Open-Sans";
    font-size: 18px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}



