@font-face{
    font-family: "Open-Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face{
    font-family: "Lato-LightItalic";
    src: url(../fonts/Lato-LightItalic.ttf);
}

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*{
    color: rgb(80, 80, 80);
}

body{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    font-size: 0;
}

header{
    position: relative;
}

nav>ul>li>a{
    text-decoration: none;
}

a{
    color:#670404;
    font-size: inherit;
    font-family: inherit;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1{
    margin: 0;
    font-weight: normal;
    font-family: "Lato-LightItalic", Times;
    color: #dba622;
}

h2{
    font-size: 28px;
    font-family: "Lato-LightItalic";
    font-weight: lighter;
    text-align: center;
    margin: 10px auto 10px auto;
    color: #d8a31c;
}

p{
    font-family: "Open-Sans";
    font-size: 18px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
}

.picture-format{
    margin: 0 auto 0 auto;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 0 10px 0px rgb(80, 80, 80);
}

.section{
    position: relative;
    margin: 40px 0 0 0;
    padding: 20px 30px 10px 30px;
}

