header{
    height: 300px;
    width: 100%px;
}

.main{
    width: 1200px;
    margin: 0 auto 0 auto;
}

.content{
    width: 900px;
    padding: 0 50px 50px 50px;
}

#menu-bar{
    display: none;
}

#header-image{
    height: 300px;
    background-image: url(../images/background/GuitarHands.jpg);
    background-position: 0% 50%;
}

h1{
    font-size: 90px;
    text-align: center;
    padding-top: 80px;
    opacity: 1;
}

nav{
    position: absolute;
    display: inline-block;
    bottom: 0;
    height: 40px;
}

nav>ul>li{
    position: relative;
    display: inline-block;
    height: 40px;
    padding: 0px;
    width: initial;
    text-align: center;
    opacity: initial;
    background-color: initial;
}

nav>ul>li>a{
    display: block;
    font-family: "Lato-LightItalic";
    color: #dba622;
    mix-blend-mode:hard-light;
    font-size: 20px;
    padding: 5px 10px 0 10px;
    height: 100%;
    transition: background-color 200ms;
}

nav>ul>li>a:hover{
    background-color: #0b0b0b90;
}

#subnav{
    position: fixed;
    transform-origin: 50% 50%;
    transform: translateX(900px) translateY(10px);
    display: block;
    border-radius: 3px;
    box-shadow: 0 0 1px 0px rgb(80, 80, 80);
}

#subnav>ul{
    display: block;
    width: 250px;
}

#subnav>ul>li>a{
    display: block;
    width: 100%;
    height: 40px;
    padding: 8px 10px 0 10px;
    text-decoration: none;
    
}






