header{
    height: 300px;
}

#content{
    width: 1200px;
    margin: 0 auto 0 auto;
}

#sections{
    width: 960px;
    padding: 0 30px 0px 30px;
}

#menu-bar{
    display: none;
}

#main-title{
    display: inline-block;
    width: initial;
    height: 40px;
    left: initial;
    right: 0;
    top: 260px;
    font-size: 24px;
    padding: 5px 20px 0 20px;
    font-weight: bold;
    mix-blend-mode:hard-light;
}

#header-image{
    height: 300px;
    background-position: 0% 55%;
    animation: backgroundslide;
    animation-duration: 1.5s;
}

.fade-in{
    animation: fadein;
    animation-duration: 1.5s;
}

@keyframes backgroundslide{
    0%{    background-position: 0% 0%;}
    100%{   background-position: 0% 55%;}
}

@keyframes fadein{
    0%{ opacity: 0;}
    100%{opacity: 1;}
}

h1{
    font-size: 90px;
    padding-top: 80px;
    opacity: 1;
}

nav{
    position: absolute;
    display: inline-block;
    width: 100%;
    bottom: 0;
    height: 40px;
}

nav>ul>li{
    position: relative;
    display: inline-block;
    height: 40px;
    padding: 0px;
    width: initial;
    text-align: center;
    opacity: initial;
    background-color: initial;
}

nav>ul>li>a{
    mix-blend-mode:hard-light;
    font-size: 20px;
    padding: 5px 10px 0 10px;
    height: 100%;
    transition: background-color 200ms;
}

nav>ul>li>a:hover{
    background-color: #0b0b0b90;
}

#subnav{
    position: fixed;
    transform-origin: 50% 50%;
    transform: translateX(960px) translateY(0px);
    display: block;
    /*border-radius: 3px;
    box-shadow: 0 0 1px 0px rgb(80, 80, 80); doesn't really look good*/
}

#subnav>ul{
    display: block;
    width: 240px;
}

#subnav>ul>li>a{
    height: 30px;
    padding: 8px 10px 0 10px;
    font-size: 20px;
}

a.current{
    background-color: #0b0b0b50;
    font-weight: bold;
}

a.subcurrent{
    color: #0b0b0b;
    font-weight: bold;
}

#my-picture{
    width: 360px;
    height: 300px;
}

.left{
    display: inline-block;
    position: relative;
    left: 0;
    width: 50%;
    padding: 20px;
}

.right{
    display: inline-block;
    position: relative;
    right: 0;
    width: 50%;
    padding: 20px;
}

.offset2center{ }
.top-block-align{  vertical-align: top;  }
.bottom-block-align{  vertical-align: bottom;  }

