header{
    height: 300px;
}

#content{
    width: 1200px;
    margin: 0 auto 0 auto;
}

#sections{
    display: inline-block;
    width: 960px;
    padding: 0 30px 0px 30px;
}

#menu-bar{
    height: 40px;
}

#open-nav-button{
    display: none;
}

#main-title{
    display: none;
}

.my-name-position{
    position: absolute;
    bottom: 0;
    right: 0;  
}

#my-name{
    display: block;
    height: 40px;
    font-size: 24px;
    padding: 1px 20px 0 20px;
    font-weight: bold;
}

.main-title-fixed{
    position: fixed;
    bottom: initial;
    top: 0;
}

#header-background{
    height: 300px;
}

.fade-in{
    animation: fadein;
    animation-duration: 1.5s;
}

@keyframes fadein{
    0%{ opacity: 0;}
    100%{opacity: 1;}
}

h1{
    font-size: 90px;
    padding-top: 80px;
}

nav{
    position: fixed;
    display: inline-block;
    width: 100%;
    top: 0;
    height: 40px;
}

nav>ul>li{
    position: relative;
    display: inline-block;
    height: 40px;
    padding: 0px;
    width: initial;
    text-align: center;
    opacity: initial;
    background-color: initial;
}

nav>ul>li>a{
    font-size: 20px;
    padding: 5px 10px 0 10px;
    height: 100%;
    transition: background-color 200ms;
}

nav>ul>li>a:hover{
    background-color: #f6f6f630; /*color outside the baselayout*/
}

#subnav{
    position: sticky;
    vertical-align: top;
    top: 100px;
    display: inline-block;
    width: 240px;
}

#subnav>ul{
    display: block;
    width: 240px;
}

#subnav>ul>li>a{
    height: 40px;
    padding: 8px 10px 0 10px;
    font-size: 20px;
    white-space: nowrap;
}

a.current{
    font-weight: bold;
    background-color: #f6f6f620;
}

a.subcurrent{
    font-weight: bold;
}

#my-picture{
    width: 360px;
    height: 300px;
    filter: grayscale();
}

.left{
    display: inline-block;
    position: relative;
    left: 0;
    width: 50%;
    padding: 20px;
}

.right{
    display: inline-block;
    position: relative;
    right: 0;
    width: 50%;
    padding: 20px;
}


.top-block-align{  vertical-align: top;  }
.bottom-block-align{  vertical-align: bottom;  }

