*{
    margin: 0;
    padding: 0;
    border: 0;
}

header{
    height: 120px;
    background-color: lightgreen;
}

nav{
    position: fixed;
    width: 100%;
    background-color: lightgoldenrodyellow;
    height: 60px;
}

#content{
    height: 1200px;
    background-color: lightpink;
}

footer{
    height: 200px;
    background-color: lightseagreen;
}