header{
    height: 350px;
    width: 100%;
}

nav{
    position: relative;
    display: none;
}

#header-image{
    position: absolute;
    background: url(../images/background/GuitarHandsDark.jpg);
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-position: center;
    opacity: 0.9; 
}

h1{
    font-size: 80px;
    color: rgba(177, 159, 0, 0.808);
    text-align: center;
    mix-blend-mode: hard-light;
}

/*

golden and hard-light seems like hard-light might pair good
golden and color-burn was kinda interesting but didn't work
gray luminosity
white and difference

*/

nav>ul>li{
    display: block;
    height: 50px;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    opacity: 0.5;
    transition: opacity 300ms;
}
nav>ul>li:hover{
    opacity: 0.7;
}

#subnav{
    position: absolute;
    display: none;
}

#subnav>ul>li>a{
    display: block;
    background-color: teal;
    color: lightsalmon;
}

#my-picture{
    width: 350px;
    height: 300px;
    margin: 20px auto 0 auto;
    background: url(../images/ProfilePicture.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.section{
    /* background-color:lightsteelblue; */
    width: 100%;
    min-height: 100px;
    margin: 40px 0 0 0;
    padding: 20px 30px 10px 30px;


}