body{
    min-width: 320px; /*Min width for multiple small devices*/
}

header{
    height: 250px;
}

nav{
    display: none;
}

#header-background{
    height: 250px;
}

h1{
    font-size: 50px;
    padding-top: 100px;
}

nav>ul>li{
    height: 50px;
    width: 100%;
    padding-top: 10px;
}

#menu-bar{
    height: 60px;
}

#main-title{
    width: 70%; /*Trick, not exactly centered but for small devices it seems indistinguishable*/
    height: 60px;
    padding-top: 10px;
    font-size: 28px;
    text-align: center;
}

.main-title-position{
    position: fixed;
    top: 0;
    left: 60px;
}

#open-nav-button{
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 15px;
    opacity: 1;
    border-radius: 10px;
    transition: opacity 200ms;
}

#open-nav-button:hover{
    opacity: 0.7;
}

.nav-icon-bar{
    position: absolute;
    width: 70%;
    height: 10%;
    left: 15%;
    border-radius: 5px;
    background-color: black;
}

.b1{
    top: 20%;
}

.b2{
    top: 45%;
}

.b3{
    top: 70%;
}

#subnav{
    display: none;
}

.picture-format{
    margin: 20px auto 20px auto;
    width: 300px;
    height: 300px;
}

.columnblock{
    padding: 10px 30px 10px 30px;
}

.list>li{
    text-indent: 0.5em;
}

ul.social-networks>li>a>svg.icons{
    width: 32px;
    height: 32px;
}

#contact-me{
    text-align: center;
}

h3{
    padding: 10px;
}