header{
    height: 300px;
    width: 100%px;
    background: url(../images/background/GuitarHandsDark.jpg);
    background-size: cover;
    background-position: center;
    background-position: center;
    opacity: 0.7;
    
}